body{
    display: flex;
    flex-direction: column;
    margin: 0;
    
}
.body{
    background-color: #1F2937;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-left: 30px ;
    padding-right: 30px;
    padding-bottom: 18px;
    padding-top: 18px;
    font-size: larger;
    
}
.left{
    font-size: xx-large;
}
.right{
    gap: 20px;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 12px;
    margin: 0;
    padding: 0;
}
.main{
    display: flex; 
    
    padding: 70px;
    gap: 10px;
    align-items: center;
    color: white;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    color: white;
}
button{
    padding: 5px;
    background-color: #3882F6;
    width: 100px;
    height: 37px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
}
.an{
    gap: 50px;
    justify-content: space-around;
    
    
}
.main2{
    background-color: #E5E7EB;
    padding-bottom: 5px;
}
li{
    max-width: 195px;
}
h2{
    text-align: center;
    margin: 50px;
}
.main3{
    padding: 70px;
    background-color: rgb(201, 199, 199);
    font-style:oblique;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
p{
    max-width: 1000px;
}
.fmain{
    background-color: #3882F6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
    padding-left: 70px ;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius:10px ;
    gap: 150px;
    

}
.f2{
    display: flex;
    justify-content: center;
}
button{
    border: solid  ;
    border-width:1px;

}
.footer{
    background-color:#1F2937;
    display: flex;
    font-size:larger;
    color: white;
    justify-content: center;
    padding: 5px;
}

